.footerStyle{
    background-color: var(--gh-theme-900);
}

.footerStyle a {
    color: var(--gh-theme-200);
}

.footerStyle a:hover{
    color: var(--gh-theme-core);
}

.bi {
    font-size: 1.5rem;
    padding-inline-start: .5rem;
}
